.container {
    max-width: 860px;
}

.form-signin {
  max-width: 500px;
}
.form-signin label{
    margin: 10px 0px;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"],
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* Custom page header */
.header {
  padding-top: 20px;
  margin-bottom: 20px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  color: #337ab7;
  font-size: 36px;
}

form.submission-prediction textarea {
    height: 100px;
}
form.submission-prediction button {
    max-width: 150px;
    margin: 20px 0;
}
form.submission-prediction h5.code-heading {
    margin-top: 25px;
}
span.tagline {
    font-size: 13px;
    font-style: italic;
    color: #bbb;
}

tbody th {
    font-weight: normal;
}
